/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;

}

/* Header */

.banner{
    background: url('header.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 55vh;
    position: relative;
}

.banner-content{
    color: #000;
    width:50%;
    padding-top:170px;
    
}

.banner-content span{
    font-size: 18px;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.banner-content h2{
    color: #0085C7;
    font-size: 60px;
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.banner-content p{
    color: #000;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.banner-content .info-btn{
    text-decoration:none;
    padding:10px 30px;
    background-color: #0085C7;
    color: #fff;
    border: 2px;
    font-size: 18px;
    font-weight: 600;
    font-style: bold;
}

.banner-content .info-btn:hover{
    background-color:#F4C300;
    border:2px;
}

/* Jumbotron */
.jumbotron{
    width: 100%;
    height: 18vh;
    text-align: center;
    text-transform: uppercase;
    position: relative;

}

.jumbotron h3{
    color: #000000;
    font-size: 45px;
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}


.jumbotron p{
    color: #000;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

/* Table */
.jumbotron {
    width: 100%;
    min-height:8vh;
}

.historytable{
        border-collapse: collapse;
        margin: 25 px 0;
        font-size: 0.9em;
        min-width: 480px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        height: 150px;
        box-shadow: 00 20px rgba(0,0,0,0.15);
    }
    tr{
        padding: 12px 15px;
        text-align: center;
        border-bottom: 1px solid #dddddd;
    }
    tr:nth-of-type(even){
        background-color:#f3f3f3;
    }
    tr:last-of-type{
        border-bottom: 2px solid #F4C300;
    }
    th {
        padding: 12px 15px;
        text-align: center;
        background-color: #F4C300;
        color: #ffffff;
        font-weight: bold
    }
    td {
        padding: 12px 15px;
    }

.medalsscroll {
    overflow:scroll;
    height:950px;
}

.medalsscroll table {
    width:100%;
}

.tokyoscroll {
    overflow:scroll;
    height:500px;
}

.tokyoscroll table {
    width:100%;
}

.highlight {
    background-color: #DF0024;
}

/* Input */
input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding:12px;
    border-radius: 3px;
    width: 250px;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color:#222;
    transition: color 0.3s ease;
}

/* Button */

.btn {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
    background: #0085C7;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.btn::after, .btn::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease;
}

/* Bar Plot */
#bar-plot {
    height: 1000px;
}

/* Bar Plot */
#bubble {
    height: 1000px;
}

/* Map */

#mapid { height: 800px; }
