<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Olympic Medal Predictor</title>

        <!-- Plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <!-- Leafleft CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

        <!-- Leafleft JavaScript-->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

        <!-- JQuery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- D3 -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css"> 
        <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
    </head>
    <body>
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="banner-content">
                            <h2><span>Explore The </span><br>Olympic Games</h2>
                            <p>From the lighting of the Olympic cauldron to the final fireworks of the Closing Ceremony, learn more about the Olympic Games.</p>
                            <a href="https://olympics.com/en/" class="info-btn">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!----------------- GOLD MEDAL PREDICTOR ----------------->
        
        <!-- Intro -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h3 class="display-4">Olympics Gold Medal Predictor</h3>
              <p class="lead">Input your country's GDP and population andn learn where your country would rank.</p>
            </div>
          </div>

        <!-- Input Button -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h3>Input Your Filters</h3>
                    <form class="w3-container" padding=20>
                        <ul>
                            <br>
                            <label for="number">Enter GDP</label>
                            <input type="number" placeholder=00000 id="gdp"/>
                            <br><br>
                            <label for="number">Enter Population</label>
                            <input type="number" placeholder=00000 id="population"/>
                            <button id="filter-btn-tokyo" type="button" class="btn btn-default">Predict Olympic Rank</button> 
                        </ul>
                   </form>
                   <br>
                </div>

        <!-- Table -->
                <div class="col-md-9" >
                        <div class="tokyoscroll">
                        <table id="tokyo">
                            <thead>
                                <tr id="tokyo-table-row">
                                    <th>Rank</th>
                                    <th>Country Name</th>
                                    <th>Gold Medals</th>
                                </tr>
                            </thead>
                            <tbody id="tokyo-table-body"></tbody>
                        </table>
                        </div>
                </div>
            <br>

        
        <!----------------- HISTORY ----------------->

        <!-- Intro -->

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h3 class="display-4">Olympics Gold Medal History</h3>
              <p class="lead">Learn about the previous olympic games and how each country ranked.</p>
            </div>
          </div>
          <br>
        <!-- Input Button -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form class="w3-container" padding=20>
                        <ul>
                            <label for="date">Enter Year</label>
                            <select id="year"></select>
                            <button id="filter-btn-medals" type="button" class="btn btn-default">Find Olympic Data</button> 
                        </ul>
                   </form>
                   <br>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" >
                    <div class="medalsscroll">
                    <table id="table-head">
                        <thead>
                            <tr id="history-table-row">
                                <th>Year</th>
                                <th>Country Name</th>
                                <th>Country Code</th>
                                <th>GDP</th>
                                <th>Population</th>
                                <th>Gold Medals</th>
                            </tr>
                        </thead>
                        <tbody id="history-table-body"></tbody>
                    </table>
                    </div>
                </div>

        <!-- Bar Graph -->
                <div class="col-md-4">
                    <div id="bar-plot"></div>
                </div>

        <!-- Bubble Graph -->
                <div class="col-md-4">
                    <div id="bubble"></div>
                </div>
            </div>
        </div>
        <br><br><br>

        <!-- Map -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="mapid"></div>
                </div>
            </div>
        </div>    

        <br>
        <br>

        
        <!-- Data -->
        <script src="app.py" type="module"></script>   

        <!-- Config -->
        <script src="static/js/config.js" type="text/javascript"></script>
    
        <!-- JavaScript -->
        <script src="static/js/logic.js" type="text/javascript"></script>       

    </body> 
</html>